page-second {
	.text-card-sec-page,
	.text-card-sec-page p,
	.text-card-sec-page h3,
	.text-card-sec-page h3 b{
		font-size: 104%;
	}

	.header-card-sec-page{
		text-decoration: underline;
		font-size: 107%;
	}
}
